Repository visrs/javelin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-stable, build-nightly, test-clippy

.gitlab-ci.yml:

image: "debian:stretch-slim"

stages:
  - prepare
  - build
  - test
  - publish

variables:
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

.write_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo

.read_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo
    policy: pull

.toolchain-stable:
  extends: .read_cache
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default stable

.toolchain-nightly:
  extends: .read_cache
  allow_failure: true
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev pkg-config gcc
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup default nightly

####### Jobs #######

install-rust:
  extends: .write_cache
  stage: prepare
  script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates curl
    - curl https://sh.rustup.rs > rustup.sh
    - sh rustup.sh -y --default-host x86_64-unknown-linux-gnu
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup install ${RUST_STABLE_VERSION:-stable}
    - rustup install nightly
    - rustup component add clippy

build-stable:
  extends: .toolchain-stable
  stage: build
  script:
    - cargo build --no-default-features
    - cargo build --no-default-features --features "tls"
    - cargo build --no-default-features --features "hls"
    - cargo build --no-default-features --features "web"
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

build-nightly:
  extends: .toolchain-nightly
  stage: build
  script:
    - cargo build
    - cargo test --tests
  only:
    changes:
      - Cargo.toml
      - Cargo.lock
      - src/**/*.rs

test-clippy:
  extends: .toolchain-stable
  stage: test
  allow_failure: true
  script:
    - cargo clippy
  only:
    changes:
      - src/**/*.rs

deploy-crates-io:
  extends: .toolchain-stable
  stage: publish
  script:
    - ./scripts/publish.sh --token $CRATES_IO_API_TOKEN
  only:
    - tags@valeth/javelin

# deploy-docker-image:
#   allow_failure: true
#   image: docker:latest
#   stage: publish
#   before_script:
#     - apk add --no-cache ruby
#     - gem install --no-document childprocess toml
#     - docker login -u "$GITLAB_USERNAME" -p "$GITLAB_ACCESS_TOKEN" registry.gitlab.com
#   script:
#     - ./docker.rb
#   only:
#     - tags@valeth/javelin

Chore: Exclude some files from crate
  Cargo.lock
  Cargo.toml
Due: build-stable, build-nightly

Move BytesStream out of rtmp module
  src/bytes_stream.rs
  src/main.rs
  src/rtmp.rs
  src/rtmp/peer.rs
  src/rtmp/server.rs
Due: build-stable, build-nightly, test-clippy

WIP: Session prototype
  Cargo.lock
  Cargo.toml
  src/rtmp.rs
  src/rtmp/event.rs
  src/rtmp/peer.rs
  src/rtmp/proto.rs
  src/rtmp/proto/connection.rs
  src/rtmp/proto/error.rs
  src/rtmp/proto/event.rs
  src/rtmp/proto/message.rs
  src/rtmp/proto/session.rs
  src/rtmp/proto/stream.rs
Due: build-stable, build-nightly, test-clippy

WIP: Temporary code dump
  src/core.rs
  src/core/event.rs
  src/core/session.rs
  src/main.rs
  src/rtmp/peer.rs
  src/rtmp/proto.rs
  src/rtmp/proto/connection.rs
  src/rtmp/proto/macros.rs
  src/rtmp/proto/message.rs
  src/rtmp/proto/protocol.rs
  src/rtmp/proto/session.rs
Due: build-stable, build-nightly, test-clippy

HLS: Remove direct dependency on Shared
  src/hls/file_cleaner.rs
  src/hls/m3u8.rs
  src/hls/server.rs
  src/hls/writer.rs
  src/main.rs
  src/shared.rs
Due: build-stable, build-nightly, test-clippy

RTMP: Split configuration from Shared
  src/config.rs
  src/main.rs
  src/media.rs
  src/rtmp.rs
  src/rtmp/client.rs
  src/rtmp/event.rs
  src/rtmp/peer.rs
  src/rtmp/server.rs
  src/shared.rs
Due: build-stable, build-nightly, test-clippy

RTMP: Allow RTMP and RTMPS connections to coexist
  CHANGELOG.md
  src/args.rs
  src/config.rs
  src/rtmp/server.rs
Due: build-stable, build-nightly, test-clippy

RTMP: Fix server polling
  src/rtmp/server.rs
Due: build-stable, build-nightly, test-clippy

Core: Add javelin-core sub-crate
  .dockerignore
  Cargo.lock
  Cargo.toml
  javelin-core/Cargo.toml
  javelin-core/src/bus.rs
  javelin-core/src/bus/error.rs
  javelin-core/src/bus/mailbox.rs
  javelin-core/src/bus/message.rs
  javelin-core/src/lib.rs
  javelin-core/src/session.rs
  javelin-core/src/session/common.rs
  javelin-core/src/session/error.rs
  javelin-core/src/session/instance.rs
  javelin-core/src/session/manager.rs
  javelin-core/src/utils.rs
  src/main.rs
Due: build-stable, build-nightly, test-clippy

Core: Move BytesStream into core crate
  javelin-core/src/bytes_stream.rs
  javelin-core/src/lib.rs
  src/rtmp.rs
  src/rtmp/peer.rs
  src/rtmp/server.rs
Due: build-stable, build-nightly, test-clippy

Web: Move configuration into module
  src/config.rs
  src/main.rs
  src/web.rs
  src/web/config.rs
  src/web/server.rs
Due: build-stable, build-nightly, test-clippy

HLS: Move configuration into module
  src/config.rs
  src/hls.rs
  src/hls/config.rs
  src/hls/server.rs
  src/hls/writer.rs
  src/main.rs
  src/shared.rs
Due: build-stable, build-nightly, test-clippy

Chore: Update CI configuration
  .editorconfig
  .gitlab-ci.yml
Due: none

Chore: Update changelog and readme
  CHANGELOG.md
  README.md
Due: none
